<label><div id="bg">
     <!--titulo-->
      <div class="center-align" id="titulo-box">
          <label id="titulo">Cadastro</label>
      </div>


    <form #cadastro="ngForm" (ngSubmit)='onSubmit(cadastro)'>
        <div class="row" id="row1">
          <div class=" col l6 m8 s10 offset-l3 offset-m2 offset-s1" >

          <!--usuario-->
           <div class="row">
             <label [style.color]="mudarCorNome ? 'red' : 'black' ">{{nomeProjeto}}</label>
            <input id="usuario" class="center-align"type="text" placeholder="usuario" name="usuario" ngModel required #usuario ="ngModel" (blur)="mudarNome(usuario)">
           </div>

           <!--nome_usuario-->
           <div class="row">
             <label [style.color]="mudarCorUserName ? 'red' : 'black' ">{{userNameProjeto}}</label>
             <input id="nome_usuario" class="center-align" type="text" placeholder="nome do usuario" name="nam_usuario" ngModel #userName = "ngModel" required (blur)="mudarUserName(userName)">
           </div>

           <!--senha-->
          <div class="row">
             <label [style.color]="mudarCorPassworld ? 'red' : 'black' ">{{passwordProjeto}}</label>
             <input id="senha" class="center-align" type="password" placeholder="senha" name="senha" ngModel required #senhaVar="ngModel" (blur)="mudarPassworld(senhaVar)">
          </div>


           <!--confirmacao da senha-->
           <div class="row">
             <label [style.color]="mudarCorPassworld ? 'red' : 'black' ">{{passwordConfirmProjeto}}</label>
             <input id="senha_confirm" class="center-align" type="password" placeholder="confirmar senha" name="senha_confirm" ngModel required #confirmarSenha="ngModel" (blur)="mudarPasswordConfirm(senha,confirmarSenha)">
           </div>

           <!--email-->
           <div class="row">
             <label [style.color]="mudarCorEmail ? 'red' : 'black' ">{{ emailProjeto }}</label>
             <input id="email" class="center-align" type="text" placeholder="Email" name="email" ngModel required #emailVar="ngModel" (blur)="mudarEmail(emailVar)">
           </div>


           <!--lingua-->
           <div class="row">
             <label>lingua</label>
             <input id="lingua" class="center-align" type="text" placeholder="lingua" name="lingua" ngModel required>
           </div>

           <!--data de nascimento-->
           <div class="row">
             <label>data de nascimento</label>
             <input id="data_de_nascimento" class="center-align" type="text" placeholder="DD/MM/YY" name="data_de_nascimento" ngModel >
           </div>


           <!--Telefone-->
           <div class="row">
             <label>telefone</label>
             <input id="telefone" class="center-align" type="text" placeholder="telefone" name="telefone" ngModel >
           </div>

           <!--pais-->
           <div class="row">
             <label>pais</label>
             <input id="pais" class="center-align" type="text" placeholder="Pais" name="pais" ngModel >
           </div>

           <!--repositorio-->
           <div class="row">
             <label>repositorio</label>
             <input id="repositorio" class="center-align" type="text" placeholder="repositorio" name="repositorio" ngModel >
           </div>


           <!--icone de camera-->
           <div class="row">
             <label>imagem de perfil</label>
             <input id="imagem_camera" class="left-align" type="file" placeholder="imagem camera" name="icon_camera" ngModel >
           </div>

           <!--descricao-->
           <div class="row">
             <label>Descricao</label>
             <input id="descricao" class="left-align" type="text" placeholder="descricao" name="descricao" ngModel >
           </div>

           <!--projetos feitos-->
           <div class="row">
             <label>Projetos Feitos</label>
             <input id="projetosFeitos" class="left-align" type="text" placeholder="projetos feitos" name="projetos feitos" ngModel >
           </div>


           <div class="row">
               <!--botao-->
               <button class="waves-effect waves-light btn center-align" type="submit" [disabled]="cadastro.invalid">Cadastrar-se</button>
           </div>

     </div>
    </div>
  </form>
</div>
required
