<div id="bg">
     <!--titulo-->
      <div class="center-align" id="titulo-box">
          <label id="titulo">Cadastro</label>
      </div>


    <form #cadastro="ngForm" (ngSubmit)='onSubmit(cadastro)'>
        <div class="row" id="row1">
          <div class=" col l6 m8 s10 offset-l3 offset-m2 offset-s1" >

          <!--usuario-->
           <div class="row">
             <label [style.color]="mudarCorNome ? 'red' : 'black' ">{{nomeProjeto}}</label>
            <input id="usuario" class="center-align"type="text" placeholder="usuario" name="nome" ngModel required #usuario ="ngModel" (blur)="mudarNome(usuario)">
           </div>

           <!--nome_usuario-->
           <div class="row">
             <label [style.color]="mudarCorUserName ? 'red' : 'black' ">{{userNameProjeto}}</label>
             <input id="nome_usuario" class="center-align" type="text" placeholder="Ex:nome do usuario" name="username" ngModel #userName = "ngModel" required (blur)="mudarUserName(userName)">
           </div>

           <!--senha-->
          <div class="row">
             <label [style.color]="mudarCorPassworld ? 'red' : 'black' ">{{passwordProjeto}}</label>
             <input id="senha" class="center-align" type="password" placeholder="Ex:senha" name="password" ngModel required #senhaVar="ngModel" (blur)="mudarPassworld(senhaVar)">
          </div>


           <!--confirmacao da senha-->
           <div class="row">
             <label [style.color]="mudarCorPasswordConfirm ? 'red' : 'black' ">{{passwordConfirmProjeto}}</label>
             <input id="senha_confirm" class="center-align" type="password" placeholder="Ex:senha" name="senha_confirm" ngModel required #confirmarSenha="ngModel" (blur)="mudarPasswordConfirm(confirmarSenha)">
           </div>

           <!--email-->
           <div class="row">
             <label [style.color]="mudarCorEmail ? 'red' : 'black' ">{{ emailProjeto }}</label>
             <input id="email" class="center-align" type="email" placeholder="Ex:exemplo@email.com" name="email" ngModel required #emailVar="ngModel" (blur)="mudarEmail(emailVar)">
           </div>



           <!--data de nascimento-->
           <div class="row">
             <label>Data de nascimento(opcional)</label>
             <input id="data_de_nascimento" class="center-align" type="text" placeholder="DD/MM/YY" name="birthday" ngModel >
           </div>


           <!--Telefone-->
           <div class="row">
             <label>Telefone(opcional)</label>
             <input id="telefone" class="center-align" type="text" placeholder="EX:9XXXX-XXXX" name="phone_number" ngModel >
           </div>


           <!--repositorio-->
           <div class="row">
             <label>Repositorio(opcional)</label>
             <input id="repositorio" class="center-align" type="text" placeholder="Ex:repositorio" name="repository" ngModel >
           </div>

           <!--icone de camera-->
   <div class="row">
     <div class="row">
       <label >Imagem do usuario(opcional)</label>
       <div class="file-field input-field">
         <div class="btn blue">
           <span >Arquivo</span>
           <input type="file" name="picture" ngModel #imagem="ngModel">
         </div>
         <div class="file-path-wrapper ">
           <input class="file-path validate" type="text" placeholder="   EX:img.png" id="arquivos" >
         </div>
       </div>
      </div>
</div>

           <div class="row">
               <!--botao-->
               <button class="waves-effect waves-light btn center-align" type="submit" [disabled]="cadastro.invalid">Cadastrar-se</button>
           </div>

     </div>
    </div>
  </form>
</div>
