<!--imagem principal + imagem usuario-->
<div class="row center-align" id="container-main-image" > <!--[style.background]="respostaDoBd ? urlDoBD : imagemDefault -->

    <div class="container">
      <img [src]="imagemUsuarioDefault"  class="circle responsive-image center-align">
      <a routerLink="/alterarProjetos"><i class="material-icons right-align">settings</i></a>
    </div>

</div>

<!--nome do projeto-->
<div class="row center-align" id="container-information">
       <p>{{userName}}</p>
</div>


<!---coluna principal-->
<div class="row">

     <div class="col l10 s12 offset-l1 ">
         <!-- primaira grid -->
         <div class="row" id="descricao">
           <p class="center-align">Descrição do projeto</p>
           <!--texto--->
           <!--texto--->
           <!--texto--->
           <!--texto--->
         </div>
       </div>

</div>


<div class="row" id="grid2">
  <div class="col l5 offset-l1 s12">
    <div class="" id="galeria">
      <p class="center-align">Galeria</p>
    </div>
  </div>

  <div class="col l5 s12 ">
    <div class="" id="informacoes">
       <p class="center-align">Informações do projeto</p>
    </div>
  </div>
</div>
