<div id="background">
<div class="container">
  <h3>Transacoes</h3>

  <div class="row">
    <div class="container">
      <div class="col l6 m6 s12">
        <h4 class="center-align">Transferencia</h4>
        <input id="usuario" class="center-align"type="text" placeholder="usuario" name="usuario" ngModel required>
        <input id="valor" class="center-align" type="text" placeholder="valor" name="valor" ngModel required>
        <div class="col l6 m8 s10 offset-l3 offset-m2 offset-s1">
          <button class="waves-effect waves-light btn center-align z-depth-0" type="submit">Finalizar</button>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="col l6 m6 s12">
        <h4 class="center-align">Deposito</h4>
        <input id="valor" class="center-align" type="text" placeholder="valor" name="valor" ngModel required>
        <div class="col l6 m8 s10 offset-l3 offset-m2 offset-s1">
          <button class="waves-effect waves-light btn center-align z-depth-0" type="submit">Finalizar</button>
        </div>
      </div>
    </div>
</div>
</div>