<form #cadastro="ngForm" (ngSubmit)='onSubmit(cadastro)'>
  <div class="row" id="row1">
    <div class=" col l6 m8 s10 offset-l3 offset-m2 offset-s1" >

      <!--usuario-->
      <div class="row">
        <input id="usuario" class="center-align"type="text" name="Ex:usuario" ngModel required #usuario ="ngModel" (blur)="mudarNome(usuario)">
      </div>

      <!--nome_usuario-->
      <div class="row">
        <label [style.color]="mudarCorUserName ? 'red' : 'black' ">{{userNameProjeto}}</label>
        <input id="nome_usuario" class="center-align" type="text" placeholder="Ex:nome do usuario" name="nam_usuario" ngModel #userName = "ngModel" required (blur)="mudarUserName(userName)">
      </div>

      <!--senha-->
      <div class="row">
        <label [style.color]="mudarCorPassworld ? 'red' : 'black' ">{{passwordProjeto}}</label>
        <input id="senha" class="center-align" type="password" placeholder="Ex:senha" name="senha" ngModel required #senhaVar="ngModel" (blur)="mudarPassworld(senhaVar)">
      </div>
    </div>
  </div>
</form>