<body>
	<!--imagem 1-->
    <div class="parallax-container">
      <div class="parallax" materialize="parallax"><img src="../assets/jogos/minecraft.jpg"></div>
    </div>

    <!--sobre nós-->
    <div class="section">
      <div class="row container">
        <h2 class="header center">Indi-u</h2>
        <p class="white-text text-darken-3 lighten-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel eros lectus. Mauris vestibulum non ante in rutrum. Duis vitae felis sit amet ipsum rhoncus imperdiet at in elit. Aenean metus diam, feugiat pellentesque dictum id, gravida lacinia lorem. Donec laoreet nisi non convallis imperdiet. Mauris interdum eleifend cursus. Pellentesque eu feugiat urna. Vivamus eget rutrum libero.

		Maecenas placerat feugiat ultrices. Sed lectus nisl, vestibulum tristique laoreet in, condimentum sed ex. Mauris pretium eu nibh vitae scelerisque. Pellentesque commodo dui sed quam scelerisque luctus at ac neque. Nunc auctor est ac venenatis elementum. Duis tristique eget arcu euismod tempor. Quisque bibendum ultricies euismod. Curabitur at hendrerit nisi, et aliquet mauris. Aliquam sit amet magna efficitur, dignissim justo eu, ornare tortor. Nullam dignissim congue sodales. Cras posuere tellus quis mollis sodales. Sed eget velit sed urna blandit aliquam. Nam tempus, massa vitae tempus ullamcorper, orci massa aliquet sem, vel pellentesque dui neque ac nisi. Aenean in sollicitudin mi.

		Nam vitae porttitor orci. Mauris condimentum diam vitae pretium iaculis. Maecenas a libero ac enim tempus suscipit quis ac ex. Suspendisse sollicitudin lacinia sollicitudin. Aliquam tempus elit vel tincidunt tristique. Aliquam pharetra ullamcorper posuere. Fusce ex nulla, bibendum id sodales in, vehicula in ex. Donec fringilla justo sapien, sit amet sollicitudin quam luctus et.

		Nunc mollis ac lectus at vehicula. Sed fringilla eros quis dictum cursus. Fusce eu diam leo. Vestibulum vitae iaculis mi, non scelerisque felis. Nam et est in risus sodales rhoncus ut vitae nisl. Etiam mollis lectus eget nulla venenatis, et dapibus erat cursus. Aenean at mi sit amet diam tristique viverra ut et velit. Aenean aliquet felis velit, eget ullamcorper libero ullamcorper ac. Aliquam et justo ac ante vulputate rhoncus.

		Phasellus ac posuere massa. Vestibulum imperdiet lorem finibus cursus rhoncus. Nullam turpis lorem, feugiat a dictum sit amet, consequat at arcu. Suspendisse dui lacus, maximus sit amet diam sed, luctus luctus mi. Etiam aliquam, orci et hendrerit sodales, justo arcu lobortis dui, ut tincidunt velit orci sed justo. Integer sagittis, arcu quis ultricies interdum, lorem est facilisis metus, eget sodales turpis diam sed elit. Nulla in dui vitae arcu ullamcorper fringilla. Aenean bibendum orci pellentesque risus fringilla consequat. Maecenas maximus ipsum eu blandit gravida. Praesent imperdiet quam sed orci mattis, vel auctor justo molestie. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus vestibulum justo a accumsan egestas. Quisque dignissim massa ut finibus suscipit.</p>
      </div>

    <!--imagem 2-->
    </div>
    <div class="parallax-container">
      <div materialize="parallax" class="parallax"><img src="../assets/jogos/minecraft.jpg"></div>
    </div>

    <!--áreas-->
  	<div class="section">
      <div class="row container center">
      	<div class="center col l3 m3 s12">
      		<img class="circle" src="../assets/areas/des1.jpg">
        	<h3 class="center">Design</h3>
    	</div>
    	<div class="center col l3 m3 s12">
      		<img class="circle" src="../assets/areas/rot1.jpg">
        	<h3 class="center">Roteiro</h3>
    	</div>
    	<div class="center col l3 m3 s12">
      		<img class="circle" src="../assets/areas/programacao1.jpg">
        	<h3 class="center">Programação</h3>
        </div>
        <div class="center col l3 m3 s12">
        	<img class="circle" src="../assets/areas/som1.jpg">
        	<h3 class="center">Som</h3>
    	</div>
      </div>
    </div>

    <!--imagem 3-->
    <div class="parallax-container">
      <div materialize="parallax" class="parallax"><img src="../assets/jogos/minecraft.jpg"></div>
    </div>

    <!--frase-->
    <div class="section">
      <div class="row container l3 m3 s12">
        <h3 class="center">Venha fazer parte do nosso time!</h3>
      </div>
    </div>


</body>