#background {
	background-image: url("../assets/jogos/minecraft.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}

h2 {
	color: #76C0FF;
	font-family: 'Quantico', sans-serif;
}

.section {
	background-color: #61727F;
	padding-top: 30vh;
	padding-bottom: 30vh;
}

h3 {
	color: #ffffff;
	font-family: 'Quantico', sans-serif;
}

img{
	height: 40vh;
  margin: 5vh;
}

