<div class="bg">
 <div class="row " id="row1">
    <div class="titulo">
       <p>imagem</p>
    </div>
    
    <form  #login="ngForm" (ngSubmit)="onSubmit(login)">
      <div class="row" id="container">
        <div class=" col l6 m8 s12 offset-l3 offset-m2" >

          <input id="usuario" class="center-align"type="text" placeholder="usuario" name="usuario" ngModel required>
        </div>
      </div>


        <div class=" col l6 m8 s12 offset-l3 offset-m2 " id="senha">
        <input id="senha" class="center-align" type="password" placeholder="senha" name="senha" ngModel required>
        </div>



        <div class="row col l2 m12 s12 offset-m4 offset-l4 offset-s3">
           <button class="waves-effect waves-light btn center-align" type="submit">Entrar</button>
        </div>

        <div *ngIf="usuario.invalid||senha.invalid" class="">
          <p>campos obrigatorios</p>
        </div>
   </form>
        <div class="col l4 m8 s12 offset-l4 offset-m2 cadastro ">
            <p>Ainda nao se cadastrou ?<a routerLink="#">Cadastrar-Se</a></p>
        </div>


 </div>
