<!--imagem principal + imagem usuario-->
<div class="row center-align" id="container-main-image" [style.background-image]="mainImageDefault">

    <div id="container-principal" >
      <a href="/setingsPerfil"><i class="material-icons left-align">settings</i></a>
      <img [src]="imagemDefault"  class="circle responsive-image center-align">
    <a routerLink="/criarProjetos"> <i class="material-icons right-align">add</i></a>
    </div>

</div>

<!--nome + rating-->
<div class="row center-align" id="container-information">
       <p id="titulo">{{userName}}</p>
       <i class="small material-icons" *ngFor="let icon of icons">{{ icon }}</i>
</div>

<!-- primaira grid da esquerda bio-->
<div class="row">
  <div class="col l5 m10 s12 offset-l1 offset-m1 ">

    <!--bio-->
    <div class="container center-align  " id="container-bio">
      <div class="col s12 ">
        <label id="bio">Bio</label>
      </div>
      <div class="box">
       <p id="bio-text">{{text}}</p>
      </div>
    </div>

    <!--caso profissional-->
    <div class="container center-align " id="container-profissional">
      <label for="">Tipo de profissional</label>
    </div>

    <!--contato--->
    <div class="container center-align" id="container-contato">
      <label>Conato</label>
    </div>

  </div>

  <!--avaliacao--->
  <div class="col l5 m10 s12 offset-m1 ">
    <div class="container center-align " id="container-avaliacao">
      <div class="row">
        <label>Avaliacoes</label>
      </div>
      <ul>
      </ul>
    </div>
  </div>

</div>

<div class="row">
   <div class="col l10 m10 s12 offset-l1 offset-m1 ">
     <div class="container center-align " id="container-anteriores">
       <label>Trabalhos Anteriores</label>
     </div>
   </div>
</div>
