<div class="container row">
  <h4>Busca</h4>
</div>

<div id="container">
  <div class="container row center">
    <form action="#">
      <p>
        <input name="group1" type="radio" id="test1" />
        <label for="test1">Usuário</label>
      </p>
      <p>
        <input name="group1" type="radio" id="test2" />
        <label for="test2">Projetos</label>
      </p>
    </form>        
  </div>  
</div>

<div class="container">
  <div class="row">
  <h5>Resultado da busca</h5>
    <div class="col l3 m6 s12">
      <div class="card">
        <div class="card-image">
          <img src="../assets/jogos/1.jpg">
        </div>
        <div class="card-content">
          <span class="card-title">Projeto X</span>
          <p>Projeto de jogo similar a Brawlhalla. Em busca de profissionais que possam agregar no processo.</p>
        </div>
        <div class="card-action">
          <a href="/detalhesProjeto">Saiba mais</a>
        </div>
      </div>
    </div>
    <div class="col l3 m6 s12">
      <div class="card">
        <div class="card-image">
          <img src="../assets/jogos/2.jpg">
        </div>
        <div class="card-content">
          <span class="card-title">Projeto Y</span>
          <p>Projeto de jogo similar ao acima. Em busca de profissionais que possam agregar no processo.</p>
        </div>
        <div class="card-action">
          <a href="/detalhesProjeto">Saiba mais</a>
        </div>
      </div>
    </div>
    <div class="col l3 m6 s12">
      <div class="card">
        <div class="card-image">
          <img src="../assets/jogos/3.jpg">
        </div>
        <div class="card-content">
          <span class="card-title">Projeto Z</span>
          <p>Projeto de jogo similar ao acima. Em busca de profissionais que possam agregar no processo.</p>
        </div>
        <div class="card-action">
          <a href="/detalhesProjeto">Saiba mais</a>
        </div>
      </div>
    </div>
    <div class="col l3 m6 s12">
      <div class="card">
        <div class="card-image">
          <img src="../assets/jogos/4.jpg">
        </div>
        <div class="card-content">
          <span class="card-title">Projeto A</span>
          <p>Projeto de jogo similar ao acima. Em busca de profissionais que possam agregar no processo.</p>
        </div>
        <div class="card-action">
          <a href="/detalhesProjeto">Saiba mais</a>
        </div>
      </div>
    </div>
  </div>




  <div class="row">
    <h5>Sugerido</h5>
    <div class="col l3 m6 s12">
      <div class="card">
        <div class="card-image">
          <img src="../assets/jogos/1.jpg">
        </div>
        <div class="card-content">
          <span class="card-title">Projeto X</span>
          <p>Projeto de jogo similar a Brawlhalla. Em busca de profissionais que possam agregar no processo.</p>
        </div>
        <div class="card-action">
          <a href="/detalhesProjeto">Saiba mais</a>
        </div>
      </div>
    </div>
    <div class="col l3 m6 s12">
      <div class="card">
        <div class="card-image">
          <img src="../assets/jogos/2.jpg">
        </div>
        <div class="card-content">
          <span class="card-title">Projeto Y</span>
          <p>Projeto de jogo similar ao acima. Em busca de profissionais que possam agregar no processo.</p>
        </div>
        <div class="card-action">
          <a href="/detalhesProjeto">Saiba mais</a>
        </div>
        </div>
    </div>
  <div class="col l3 m6 s12">
    <div class="card">
      <div class="card-image">
        <img src="../assets/jogos/3.jpg">
      </div>
      <div class="card-content">
        <span class="card-title">Projeto Z</span>
        <p>Projeto de jogo similar ao acima. Em busca de profissionais que possam agregar no processo.</p>
      </div>
      <div class="card-action">
        <a href="/detalhesProjeto">Saiba mais</a>
      </div>
    </div>
  </div>
  <div class="col l3 m6 s12">
    <div class="card">
      <div class="card-image">
        <img src="../assets/jogos/4.jpg">
      </div>
      <div class="card-content">
        <span class="card-title">Projeto A</span>
        <p>Projeto de jogo similar ao acima. Em busca de profissionais que possam agregar no processo.</p>
      </div>
      <div class="card-action">
        <a href="/detalhesProjeto">Saiba mais</a>
      </div>
    </div>
  </div>

</div>



