<div class="container row">
  <h4>Busca</h4>
</div>

<div id="container">
    <div class="container row center">
          
      <form action="" class="browser-default">
        <input id="search-input" placeholder="Search" type="text" class="browser-default search-field" name="q" value="" autocomplete="off" aria-label="Search box">
        <label for="search-input"><i class="material-icons search-icon">search</i></label> 
        <i class="material-icons search-close-icon">cancel</i>
        <div class="search-popup">
          <div class="search-content">
            <label class="search-heading">Most Visited</label>
            <ul class="popup-list">
              <li class=""><a class="grey-text" href="#">animador</a></li>
              <li class=""><a class="grey-text" href="#">escritor</a></li>
              <li class=""><a class="grey-text" href="#">designer</a></li>
              <li class=""><a class="grey-text" href="#">programacao</a></li>
            </ul>
          </div>
        </div>
      </form>
    
    </div>  
</div>

<div class="container">
<div>
  <h5>Design</h5>
  <img src="../assets/areas/d.jpg">
  <img src="../assets/areas/d.jpg">
  <img src="../assets/areas/d.jpg">
  <img src="../assets/areas/d.jpg">
</div>
  
<div>
  <h5>Programacao</h5>
  <img src="../assets/areas/p.jpg">
  <img src="../assets/areas/p.jpg">
  <img src="../assets/areas/p.jpg">
  <img src="../assets/areas/p.jpg">
</div>

<div>
  <h5>Roteiro</h5>
  <img src="../assets/areas/r.jpg">
  <img src="../assets/areas/r.jpg">
  <img src="../assets/areas/r.jpg">
  <img src="../assets/areas/r.jpg">
</div>

<div>
  <h5>Som</h5>
  <img src="../assets/areas/s.jpg">
  <img src="../assets/areas/s.jpg">
  <img src="../assets/areas/s.jpg">
  <img src="../assets/areas/s.jpg">
</div>
</div>