





















<div class="container row">
  <h4>Busca</h4>
</div>

<div id="container">
    <div class="container row center">
          
      <form action="" class="browser-default">
        <input id="search-input" placeholder="Search" type="text" class="browser-default search-field" name="q" value="" autocomplete="off" aria-label="Search box">
        <label for="search-input"><i class="material-icons search-icon center">search</i></label> 
        <i class="material-icons search-close-icon">cancel</i>
        <div class="search-popup">
          <div class="search-content">
            <label class="search-heading">Most Visited</label>
            <ul class="popup-list">
              <li class=""><a class="grey-text" href="#">animador</a></li>
              <li class=""><a class="grey-text" href="#">escritor</a></li>
              <li class=""><a class="grey-text" href="#">designer</a></li>
              <li class=""><a class="grey-text" href="#">programacao</a></li>
            </ul>
          </div>
        </div>
      </form>
    
    </div>  
</div>

<div class="container">
<div>
  <h5>Projetos</h5>
  <img src="../assets/jogos/1.jpg">
  <div class="container row">
    <div class="col l3 m6 s12">
      <p>Projeto X<p>
      <h6>Projeto de jogo similar a Brawlhalla. Em busca de profissionais que possam agregar no processo.</h6>
    </div>
  </div>
  <img src="../assets/jogos/2.jpg">
    <div class="container row">
      <div class="col l3 m6 s12">
        <p>Projeto Y<p>
        <h6>Projeto de jogo similar ao acima. Em busca de profissionais que possam agregar no processo.</h6>
      </div>
    </div>
  <img src="../assets/jogos/3.jpg">
  <div class="container row">
      <div class="col l3 m6 s12">
        <p>Projeto Z<p>
        <h6>Projeto de jogo similar ao acima. Em busca de profissionais que possam agregar no processo.</h6>
      </div>
    </div>
  <img src="../assets/jogos/4.jpg">
    <div class="container row">
      <div class="col l3 m6 s12">
        <p>Projeto A</p>
        <h6>Projeto de jogo similar ao acima. Em busca de profissionais que possam agregar no processo.</h6>
      </div>
    </div>
</div>

<div>
  <h5>Vagas</h5>
  <img src="../assets/areas/p.jpg">
  <img src="../assets/areas/d.jpg">
  <img src="../assets/areas/s.jpg">
  <img src="../assets/areas/r.jpg">
</div>



<!--<div><div class="container">
<div>
  <h5>Design</h5>
  <img src="../assets/areas/d.jpg">
  <img src="../assets/areas/d.jpg">
  <img src="../assets/areas/d.jpg">
  <img src="../assets/areas/d.jpg">
</div>
  
<div>
  <h5>Programacao</h5>
  <img src="../assets/areas/p.jpg">
  <img src="../assets/areas/p.jpg">
  <img src="../assets/areas/p.jpg">
  <img src="../assets/areas/p.jpg">
</div>


  <h5>Roteiro</h5>
  <img src="../assets/areas/r.jpg">
  <img src="../assets/areas/r.jpg">
  <img src="../assets/areas/r.jpg">
  <img src="../assets/areas/r.jpg">
</div>

<div>
  <h5>Som</h5>
  <img src="../assets/areas/s.jpg">
  <img src="../assets/areas/s.jpg">
  <img src="../assets/areas/s.jpg">
  <img src="../assets/areas/s.jpg">
</div>
</div>-->