<nav>
  <div class="nav-wrapper container">
    <img src="">
    <a routerLink="/home" class="brand-logo">Indi-u</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/login">Login</a></li>
        <li><a routerLink="/perfil"><i class="material-icons right">person</i></a></li>
        <li><a routerLink="/criarProjeto"><i class="material-icons right">add_circle_outline</i></a></li>
        <li><a href="/pesquisa"><i class="material-icons right">search</i></a></li>
        <li><a href="/pagamento"><i class="material-icons right">payment</i></a></li>
        <li><a routerLink="/home"><i class="material-icons right">home</i></a></li>
      </ul>
    <ul class="right hide-on-large">
    <li><a materialize="dropdown" class="dropdown-button" href="#!" data-activates="dropdown1"><i class="material-icons right">menu</i></a>
      <ul id="dropdown1" class="dropdown-content">
        <li><a href="/login">Login</a></li>
        <li><a routerLink="/perfil">Person</a></li>
        <li class="divider"></li>
        <li><a routerLink="/criarProjeto">Criar projeto</a></li>
        <li class="divider"></li>
        <li><a routerLink="/pesquisa">Pesquisa</a></li>
        <li><a routerLink="/pagamento">Transações</a></li>
        <li><a routerLink="/home">Home</a></li>
      </ul>
    </li>
    </ul>
  </div>
</nav>



