<ul id="dropdown1" class="dropdown-content">
  <i class="material-icons prefix">search</i>
  <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
  <li><a href="#!">Home</a></li>
  <li class="divider"></li>
  <li><a href="#!">Perfil</a></li>
  <li class="divider"></li>
  <li><a href="#!">Criar projeto</a></li>
  <li class="divider"></li>
  <li><a href="#!">Notificações</a></li>
  <li class="divider"></li>
  <li><a href="#!">Mensagens</a></li>
</ul>
<nav>
  <div class="nav-wrapper container">
    <a href="#!" class="brand-logo">Indi-u</a>
    <ul class="right">
      <!-- Dropdown Trigger -->
      <li><a  materialize="dropdown" class="dropdown-button" href="#!" data-activates="dropdown1"><i class="material-icons right">menu</i></a></li>
    </ul>
  </div>
</nav>

