
<nav>
  <div class="nav-wrapper container">
    <a routerLink="/home" class="brand-logo">Indi-u</a>
    <ul class="right hide-on-med-and-down">
      <li><a routerLink="/perfil"><i class="material-icons right">person</i></a></li>
      <li><a materialize="dropdown" class="dropdown-button" href="#!" data-activates="dropdown1"><i class="material-icons right">notifications</i><span class="badge">4</span></a>
        <ul id="dropdown1" class="dropdown-content">
          <li><a routerLink="/perfil">Airton Menezes te avaliou! Cheque agora!</a></li>
          <li class="divider"></li>
          <li><a>Bernardo Simas passou pelo seu perfil.</a></li>
          <li class="divider"></li>
          <li><a routerLink="/perfil">Pamella Garcia te avaliou! Cheque agora!</a></li>
        </ul>
      </li>
      <li><a routerLink="/criarProjeto"><i class="material-icons right">add_circle_outline</i></a></li>
      <li><a href="/pesquisa"><i class="material-icons right">search</i></a></li>
      <li><a routerLink="/home"><i class="material-icons right">home</i></a></li>
    </ul>
  </div>
</nav>

