        <footer class="page-footer">
          <div class="container">
            <div class="row">
               <div class="col18 l12 m12 s12">
                <ul>
                  <li><a href="#!"><img class="icones right" src="../assets/redes_sociais/youtube.svg"></a></li>
                  <li><a href="#!"><img class="icones right" src="../assets/redes_sociais/twitter.svg"></a></li>
                  <li><a href="#!"><img class="icones right" src="../assets/redes_sociais/instagram.svg"></a></li>
                  <li><a href="#!"><img class="icones right" src="../assets/redes_sociais/facebook.svg"></a></li>
                </ul>
               </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2019 Copyright Text
            </div>
          </div>
        </footer>